*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.progress {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: 50%;
    z-index: 9999!important;
}

.progress label {
    font-size: 32px;
    font-weight: 500;
    display: block;
    text-align: center;
}